@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="text-center">
        <h1 class="display-4">Bem Vindo Parça</h1>
        <p>Aplicação de POC Básica ASP.NET Framework</p>
        <ul>
            <li>Azure DevOps</li>
            <li>Jenkins</li>
            <li>GitHub Actions</li>
            <li>Code deploy (AWS)</li>
            <li>Concourse CI</li>
        </ul>
    </div>
</div>